{% extends "base.html" %}

{% block content %}
<div class="container px-1">
    <div class="row">
        <div class="col-xs">
            <br>

            <h1>Purchase successful!</h1>
            <h5>Your purchase was successful! You may continue shopping.</h5>
            
            <br>
            <button type="button" class="btn btn-secondary">
                <a href="{{url_for('index')}}" class="text-light">
                   Continue shopping
                </a>
            </button>
        </div>
    </div>
</div>

{% endblock %}